table{
    width: 100%;
    background-color: rgb(88, 50, 204);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(179, 245, 241);
    font-weight: 100;
    border: 5px solid;
}

body{color: lightblue;

}

h1{
    color: rgb(19, 19, 152);
    text-align: center;
}

p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}

td, th{
    border: 2px solid rgb(0, 0, 0);
    text-align: left;
    padding: 5px;
}

